@import "color.scss";


.button-modal {
    display: block;
    flex-direction: row;
    align-self: flex-end;
    justify-content: center;
    align-items: flex-end;
    width: 40%;
    margin-left:auto;
    margin-right: auto;
    height: 3rem;
    background: $buttons;
    color: white;
    font-weight: 500;
    font-family: "Work Sans", Sans-serif;
    border-radius: 30px 30px 30px 30px;
    font-size: 0.938rem;
    text-shadow: 0px 0px 10px rgb(0 0 0 / 30%);
  }

  .button-modal:hover {
    background: white;
    color: $fonts;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    font-weight: 500;
  }

  .buttons-modal{
    display: flex;
    flex-direction: row;
  }

  .edit-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: auto;
    padding-bottom: 1rem;
    width: 80%;
    gap: 1rem;
    border-radius: 0.938rem;
    margin-top: 5%;
    box-shadow: 0px 0px 15px 2px rgba(255, 255, 255, 0.46);
    -webkit-box-shadow: 0px 0px 15px 2px rgba(255, 255, 255, 0.46);
    -moz-box-shadow: 0px 0px 15px 2px rgba(255, 255, 255, 0.46);
  }

  .input-title,
  .input-body {
    font-size: 1.25rem;
    color: rgb(167, 167, 167);
    border-radius: 0.625rem;
    width: 100%;
    line-height: 2.813rem;
  }

  input[name="title"]::-webkit-input-placeholder {
    position: relative;
    font-size: 0.90rem;
    padding: 0.7rem;
    transition: 0.3s ease-in-out;
  }
  input[name="title"]:focus::-webkit-input-placeholder {
    position: absolute;
    font-size: small;
    padding: 0;
  }
  
  input[name="body"]::-webkit-input-placeholder {
    position: relative;
    font-size: 0.90rem;
    padding: 0.7rem;
    transition: 0.3s ease-in-out;
  }
  input[name="body"]:focus::-webkit-input-placeholder {
    position: absolute;
    font-size: small;
    padding: 0;
  }
  