@import "color";

.footer {
   /* Posicionar abajo */
   position: absolute;
   bottom: 0;
   width: 100%;
   min-height: 4vh;
   background: #ccc;
  background-color: $secundary;
  color: white;
  font-weight: 700;
  height: 50px;
  font-size: 14px;
  box-shadow: -5px 1px 20px 2px rgba(255, 255, 255, 0.46);
  -webkit-box-shadow: -5px 1px 20px 2px rgba(255, 255, 255, 0.46);
  -moz-box-shadow: -5px 1px 20px 2px rgba(255, 255, 255, 0.46);

  .text-footer {
    color: $fontsecundary;
    cursor: pointer;
  }
}
