@import "color";

.login-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: center;
  width: 40%;
  height: 400px;
  border-radius: 15px;
  margin: auto;
  margin-top: 10%;
  box-shadow: -1px -2px 25px 0px rgba(255, 255, 255, 0.46);
  -webkit-box-shadow: -1px -2px 25px 0px rgba(255, 255, 255, 0.46);
  -moz-box-shadow: -1px -2px 25px 0px rgba(255, 255, 255, 0.46);

.form{
    margin: auto;
}
.avatar{
    width: 25%;
    margin: auto;
    margin-bottom: -10px;
}
  .input-name{
    font-size: 20px;
    color: rgb(167, 167, 167);
    border-radius: 10px;
    width: 80%;
    line-height: 45px;
    
  }

  .input-password{
    font-size: 20px;
    color: rgb(167, 167, 167);
    border-radius: 10px;
    width: 80%;
    line-height: 45px;
    margin-top: 15px;
  }

  .button-login {
    background: $buttons;
    color: $buttonsHov;
    font-weight: 500;
    font-family: "Work Sans", Sans-serif;
    border-radius: 30px 30px 30px 30px;
    padding: 15px 45px 15px 45px;
    font-size: 15px;
    font-weight: 500;
    text-transform: capitalize;
    font-style: normal;
    text-decoration: none;
    line-height: 1em;
    letter-spacing: 0px;
    word-spacing: 0em;
    text-shadow: 0px 0px 10px rgb(0 0 0 / 30%);
    margin-top: 15px;
  }

  .button-login:hover {
    background: white;
    color: $fonts;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    font-weight: 500;
  }


}
