
body{
  background-color: #000032;
}
.btn-flotante {
	font-size: 60px; /* Cambiar el tamaño de la tipografia */
	color: #ffffff; /* Color del texto */
	padding: 18px 30px; 
	position: fixed;
	bottom: 40px;
	right: 40px;
	transition: all 300ms ease 0ms;
	z-index: 99;
}
.btn-flotante:hover {
	transform: translateY(-7px);
  cursor: pointer;
  color: #E31C79;
}
@media only screen and (max-width: 600px) {
 	.btn-flotante {
		font-size: 14px;
		padding: 12px 20px;
		bottom: 20px;
		right: 20px;
	}
} 

