@import "color.scss";

.card-container-friends {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  width: 98%;
  margin: 0.938rem;

  .card-friend {
    width: 15%;
    height: 10.625rem;
    margin: 0.938rem;
    border-radius: 15%;
    padding: .938rem;
    color: white;
    -webkit-border-radius: 5px 5px 5px 40px;
    -moz-border-radius: 5px 5px 5px 40px;
    border-radius: 5px 5px 5px 40px;
    box-shadow: 0px 0px 15px 2px rgba(255, 255, 255, 0.46);
    -webkit-box-shadow: 0px 0px 15px 2px rgba(255, 255, 255, 0.46);
    -moz-box-shadow: 0px 0px 15px 2px rgba(255, 255, 255, 0.46);
  }

  .card-friend {
    margin-top: 3%;
  }

  .text-name-friend {
    flex-direction: column;
    text-align: left;
    width: 70%;
    margin: 0.625rem;
  }
  .text-surname-friend {
    flex-direction: column;
    text-align: left;
  }
  .email {
    text-align: left;
  }

.name-avatar{
  display: flex;
  flex-direction: row;
}

.email-surname{
  display: flex;
  flex-direction: column;
  margin: 0.125rem;
}
  .avatar-friends {
    width: 2.5rem;
    height: 2.5rem;
 
  }

  .picture {
    width: 1.25rem;
    height: 1.25rem;
    padding: 0.625rem;
    margin-bottom: 0.625rem;
  }

  .text-surname-friend {
    font-size: 0.938rem;
    color: $fontsecundary;
    color: #525252;
  }
  .text-name-friend {
    color: #525252;
    font-family: "Work Sans", Sans-serif;
    font-size: 1.188rem;
    font-weight: 600;
  }

  .text-email-friend {
    color: #5a5a5a73;
    font-family: "Work Sans", Sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4em;
  }




  .card-friend:hover {
    cursor: pointer;
    background-color: white;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    color: black;

    .avatar-friends:hover {
      background-color: $primary;
      -webkit-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
    }
  }
}
.avatar-friends {
  border: 10px double #525252;
  border-radius: 50%;
  
}

